
<div>
  <div class='data-pad'>
    <div class="top">
      <div class='summary'>
          {{{bounty.stats}}}
      </div>
      <div class="actor">
        <img data-edit="img" src="{{bounty.img}}" style="opacity: 0.5; filter: hue-rotate({{bounty.hue}}deg);" title="Bounty Target">
      </div>
    </div>
    <div class="bottom">
        <div class="details">
         {{{bounty.details}}}
      </div>
    </div>

  </div>
</div>